*{
   text-align: center;
}

div{
    text-align: center;
    width: 400px;
    background-color: #EEE !important;
    color: black !important;
    padding: 20px;
    border: 0px  !important;
    font-size: 20px !important; 
    display: none;
}
body::before{
    content: "Elzero";
}