div{
    font-family: Arial, Helvetica, sans-serif;
}
.one{
    border: 2px solid orangered ;
    padding: 15px 40px;
}
.one p{
    border: inherit;
    padding: inherit;
    background-color: rgb(208, 208, 208);
    text-align: center;
}

.two{
    border: 2px solid rgb(2, 124, 118) ;
    padding: 15px 40px;
}
.two p{
    border: inherit;
    padding: inherit;
    background-color: rgb(208, 208, 208);
    text-align: center;
}