div{
    width: 400px;
    padding: 7px;
    
}

.div1{
    border-left: 5px solid rgb(191, 74, 93);
}

.div2{
    border-left: 5px solid rgb(191, 74, 93);
    
}

.div3{
    border-left: 5px solid rgb(66, 149, 66);
}