body{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parent{
    display: flex;
    width: 600px;
    height: 300px;
    justify-content: space-between;
    margin: 10px;   
}

.parent div{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    width: 15%; 
    color: white;
}

.one{
    order:1;
    background-color: #FF9800;
}

.two{
    order: 2;
    align-self: flex-end;
    background-color: #4caf50bd;
}

.three{
    order: 3;
    background-color: #795548;

}

.four{
    order: 0;
    align-self: flex-end;
    background-color: #673AB7;

}