div{
    background-image: url(../Q2/css-assignment-5-8.png);
    width: 400px;
    height: 400px;
}

.assign-3-shape-1{
    background-size: 80% 80%;
}

.assign-3-shape-2{
    background-size: 80% 100%;
    background-position : right;
}

.assign-3-shape-3{
    background-size: 100% 80% ;
    background-position :  bottom; 
}
.assign-3-shape-4{
    background-size: 50% 50%;
    background-position : right bottom; 

}